<div class="content">
  <div class="content-title"><%= data.article.title %></div>
  <img class="eyecatch-image" src="<%= data.article.captionImage %>" />
  <div class="content-body"><%- data.article.htmlContent %></div>
</div>