<header class="header">
  <div class="header-title"><a href="/"><%= data.setting.siteName %></a></div>
  <nav class="navigation">
    <% for (let menuItem of data.setting.menuItems) { %>
    <a href="<%- menuItem.href %>"><%= menuItem.label %></a>
    <% } %>
  </nav>
  <img class="top-image" src="<%= data.setting.topImage %>" />
</header>