<main>
  <article>
    <% if (data.article.category.relation === "same_categories") { %>
    <time class="published-date"><%= data.article.publishedDate %></time>
    <% } %>
    <% if (data.article.title) { %>
    <h1 class="content-title"><%= data.article.title %></h1>
    <% } %>
    <% if (data.article.captionImage) { %>
    <img class="eyecatch-image" src="<%= data.article.captionImage %>" />
    <% } %>
    <div class="content-body">
      <% for (let section of data.article.sections) { %>
      <%- section.html %>
      <% } %>
    </div>
  </article>
</main>