<main>
  <article>
    <% if (data.category.relation === "same_categories") { %>
    <time class="published-date"><%= data.page.publishedDate %></time>
    <% } %>
    <% if (data.page.title) { %>
    <h1 class="content-title"><%= data.page.title %></h1>
    <% } %>
    <% if (data.page.captionImage) { %>
    <img class="eyecatch-image" src="<%= data.page.captionImage %>" />
    <% } %>
    <div class="content-body">
      <% for (let section of data.pageContent.sections) { %>
      <%- section.html %>
      <% } %>
    </div>
  </article>
</main>