html {
  background-color: #eee;
}

body {
  background-color: white;
  max-width: 800px;
  margin: 0 auto;
  font-family: verdana, "ヒラギノ丸ゴ ProN W4", "Hiragino Maru Gothic ProN",
    "メイリオ", "Meiryo", "ＭＳ Ｐゴシック", "MS PGothic", Sans-Serif;
  box-shadow: 0 0 10px rgba(0,0,0,.3);
}

.header a,
.footer a {
  text-decoration: none;
  color: inherit;
}

.navigation {
  height: 40px;
  display: flex;
  width: 100%;
  text-align: center;
  line-height: 40px;
  font-size: 12px;
}

.header-title {
  font-size: 20px;
  padding: 10px 2%;
  font-weight: bold;
  background-color: #444;
  color: white;
}

.header-title img {
  max-width: 100%;
}

.navigation > a {
  width: 100%;
}

.navigation > a:hover {
  background-color: aliceblue;
}

.top-image {
  width: 100%;
}

main, aside {
  padding: 0 2%;
  margin: 20px 0;
}

.published-date {
  font-weight: bold;
}

.content-title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px;
  border-bottom: 1px solid lightgray;
  padding: 10px 0;
}

.eyecatch-image {
  max-width: 100%;
  max-height: 400px;
  margin: 0 auto;
  display: block;
}

p > code, li > code {
  font-size: 87.5%;
  color: #e83e8c;
}

.related {
  padding: 0 2%;
  margin: 20px 0;
}

.article-link-list-title {
  font-weight: bold;
  margin-bottom: 10px;
  padding: 5px;
  background-color: #eef;
}

.article-link-list {
  display: grid;
  margin-bottom: 10px;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.article-link {
  text-decoration: none;
  color: inherit;
  border-radius: 5px;
}

.article-link:hover .article-link-image {
  opacity: 0.5;
}

.article-link-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-bottom: 60%;
}

.article-link-title{
  height: 60px;
  margin-top: 10px;
  overflow: hidden;
  line-height: 20px;
  font-size: 14px;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #444;
  color: white;
}

/* wide */
@media (min-width: 750px) {
  .responsive-grid-column {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* closed */
@media (max-width: 749px) {
  .responsive-grid-column {
    grid-template-columns: repeat(2, 1fr);
  }
}