.content-body h2 {
  padding: 10px;
  background-color: lightblue;
  border-left: 10px solid #009;
  margin: 40px 0 0;
}

.content-body h3 {
  padding: 5px;
  border-left: 5px solid #009;
  border-bottom: 1px solid #009;
  margin: 30px 0 0;
}

.content-body p > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.content-body {
  line-height: 28px;
}